@charset "UTF-8";

.theme-twentytwenty 
.wc-block-grid.has-5-columns 
.wc-block-grid__product, 
.theme-twentytwenty /*200px!important*/
.wc-block-grid
.has-6-columns
.alignfull 
.wc-block-grid__product, 
.wc-block-grid.has-5-columns 
.wc-block-grid__product, 
.wc-block-grid.has-6-columns
.alignfull 
.wc-block-grid__product 
{
font-size: 1em;
}
.site-blocks 
{
width: 100%;
/* max-width: 1180px; */
}
#alerta
{
    color:red;
    font-weight: bold;
    font-size: large;
}

.woopspro-product-slider button.slick-next, 
.woopspro-product-slider button.slick-next:hover, 
.woopspro-product-slider button.slick-next:focus 
{

background: #555 url(arrow-right.png) center center no-repeat !important;
background-size: 15px 26px !important;
outline: none !important;
}
.woopspro-product-slider button.slick-prev, 
.woopspro-product-slider button.slick-prev:hover, 
.woopspro-product-slider button.slick-prev:focus 
{
    
background: #555 url(arrow-left.png) center center no-repeat !important;
background-size: 15px 26px !important;
outline: none !important;
}
.slick-prev, 
.slick-arrow, 
.slick-next
{
    display:none !important;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button
{

line-height: 1em;
padding-left: 20px;
padding-right: 20px;
padding: .692em 1.125em;
display: inline-block;
color: #f3f5fa;
border-radius: 3px;
transition: all .2s ease;
background-color: #D15B2B;
border: 0;

}
/*  */
li > button, .woopspro-product-slider .slick-dots li.slick-active button {
border: 1px solid #D15B2B !important;
background: #D15B2B !important;
}

@media (max-width: 767px) {
.homepage.background-image {
background:  url('<?php echo $business_background_image['url']; ?>')!important;
background-repeat: no-repeat;
background-position: 100%;
background-size: cover !important;
background-blend-mode: color;
background-color: rgba(0,0,0,.5)!important;
padding-right: 12%;
padding-top: 10px;

/* min-height:300px; */
min-width:400px;
height:auto;
width:auto;
max-height:100%;
max-width:100%;
color:#fff !important;

}
}

@media (max-width: 767px) {
.homepage .welcome-message .image .col-md-6 > content {

/* min-height:300px; */
min-width:400px;
height:auto;
width:auto;
max-height:100%;
max-width:100%;
color:#fff !important;
 }

 .m-h2{
     font-size: 1.8em !important;
 } 
 .h3, h3 {
font-size: 1em;
font-weight: 400;
}


}
.container {
max-width: 1439px !important;
}
.container > p{
color:#ffffff!important;
font-size: 1em !important;
max-width: 1439px !important;
}

.container-2 {
max-width: 1400px !important;
margin: auto;
border-left: 1px solid #f9f9f9;
border-right: 1px solid #f9f9f9;
height:180px !important;
vertical-align: middle;

}
.container-3 {
max-width: 1400px !important;
margin: auto;
border-left: 1px solid #f9f9f9;
border-right: 1px solid #f9f9f9;
vertical-align: middle;
}



.price{
display:none;
}
.hight-home-slider .listing{
height: 90%;
}

/* .row:hover,
.swiper-container:hover a:hover,
.listings:hover,
.swiper-slide:hover
{
cursor:move!important;
} */
/* .row :checked a:checked,
.site-blocks:hover a:checked,
.swiper-container:checked,
.listings
{
cursor:ew-resize!important;
} */

.botao_all_listing {
text-align: center;
width: 15%;
margin: auto;
}

.row_left{
float:left;
display: block;
text-align: center;  
padding-right: 20px;
}
.row_right{
display: block;
}
.row_tittle_desktop{
text-align: right;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3{
text-align: center;
padding:0px;
}Pode falar

.woopspro-product-slider .slick-list{
padding: 0px;
}
.slick-dots{
display:none !important;
}

.row_tittle_desktop{
font-size: 1.7em !important;
vertical-align:bottom;
}

.sp-pcp-post .sp-pcp-post-thumb-area img {
max-width: 250px !important;
height: 150px !important;
object-fit: cover;
}
<?php echo '#pcp_wrapper-'.$cl_shortcode.'.dots' ?>.swiper-pagination-bullet-active  {
background: #D15B2B;
}

<?php echo '#pcp_wrapper-'.$cl_shortcode.'.pcp-carousel-wrapper'?> .sp-pcp-post  {
text-align: center;
margin-top: 0;
}

.pcp-carousel-wrapper .sp-pcp-carousel {
padding-bottom: 5px;
padding-top: 10px;
}

<?php echo '.pcp-wrapper-'.$cl_shortcode; ?>.sp-pcp-title a:hover {
color: #D15B2B;
}

.sp-pcp-post .sp-pcp-post-content {
text-transform: none;
font-size: 11px;
line-height: 20px;
letter-spacing: 0px;
margin: 0px 0px 17px 0px;
color: #444;
font-weight:500;
}

.sp-pcp-post .sp-pcp-title a, .sp-pcp-post .sp-pcp-title {
text-transform: none;
font-size: 14px;
line-height: 24px;
color: #D15B2B;
font-weight:700;

}

.sp-pcp-post .sp-pcp-post-content .sp-pcp-readmore a{
text-transform: none !important;
font-size: 12px;
font-weight:700;
}

.expert-card-2 .expert-card{
height:170px !important;
width: 330px !important;
}


.type-product{
text-align: center !important;
}

.swiper-listing-next, .swiper-listing-prev{
font-family: IcoFont;
font-style: normal;
margin: 2px 0 0 5px;
color: #D15B2B;
top: 50%;
position: absolute;
z-index: 9999999;
font-size: 33px;
margin-top: -25px;
cursor: pointer;
}
.swiper-listing-prev:after, .swiper-listing-next:after {
font-family: swiper-icons;
font-size: var(--swiper-navigation-size);
text-transform: none !important;
letter-spacing: 0;
text-transform: none;
font-variant: initial;
line-height: 1;
}